.main{
    background-color: #EBEBEB;
    .content{
        background-color: #fff;
        border-radius: 8px;
        padding: 30px 10px;
        height: 100%;
        justify-content: center;
    }
}
