<div class="reading h-100">
    <div class="d-flex flex-column justify-content-between h-100">
        <div class="read-card">
            <h5>{{'reading'|translate}}</h5>
            <div>
                <span>35</span>
                <div class="image">
                    <img src="../../../assets/images/11.png" class="img-fluid" alt="icon">
                </div>
            </div>  
        </div>
        <div class="read-card">
            <h5>{{'reading'|translate}}</h5>
            <div>
                <span>256</span>
                <div class="image">
                    <img src="../../../assets/images/22.png" class="img-fluid" alt="icon">
                </div>
            </div>
        </div>
        <div class="read-card">
            <h5>{{'reading'|translate}}</h5>
            <div>
                <span>18</span>
                <div class="image">
                    <img src="../../../assets/images/33.png" class="img-fluid" alt="icon">
                </div>
            </div>
        </div>
    </div>
</div>
