<div [class]="ltr?'ltr-user':'user'">
    <div class="about d-flex justify-content-between">
        <h2 class="title">{{'user-1' | translate}}</h2>
        <div class="menu">
            <button class="date-btn" mat-button [matMenuTriggerFor]="menu">{{'date.range' |translate}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center flex-wrap" [class]="ltr?'ltr-user':'user'">
        <div class="about align-self-center">
            <ul class="list-unstyled p-0">
                <li>
                    <span>{{"read-1" | translate}}</span>
                    <p>254</p>
                </li>
                <li>
                    <span>{{"read-2" | translate}}</span>
                    <p>120</p>
                </li>
                <li>
                    <span>{{"read-3" | translate}}</span>
                    <p>25</p>
                </li>
            </ul>
        </div>
        <div class="images">
            <div class="img-container">
                <div class="img1">
                    <img class="img-fluid" src="assets/images/Ellipse1.png" alt="">
                </div>
                <div class="img2">
                    <img class="img-fluid" src="assets/images/Ellipse2.png" alt="">
                </div>
                <div class="img3">
                    <img class="img-fluid" src="assets/images/Ellipse3.png" alt="">
                </div>
                <div class="inner-img">
                    <img class="img-fluid" src="assets/images/user.png" alt="">
                </div>
                <div class="text">
                    <h4>{{'employee' |translate}}</h4>
                </div>
            </div>
        </div>
    </div>

</div>