$col-1:#3DD598;
$col-2:#6956E5;
$col-3:#FABE7A;

.user .about ul {
    li:nth-child(1){
        span::before{
            background-color: $col-1;
        }
    }
    li:nth-child(2){
        span::before{
            background-color: $col-2;
        }
    }
    li:nth-child(3){
        span::before{
            background-color: $col-3;
        }
    }
}
.ltr-user .about ul {
    li:nth-child(1){
        span::before{
            background-color: $col-1;
        }
    }
    li:nth-child(2){
        span::before{
            background-color: $col-2;
        }
    }
    li:nth-child(3){
        span::before{
            background-color: $col-3;
        }
    }
}

.user{
    height: 100%;
    .about{
        h2{
            margin-bottom: 0;
            color: #23262F;
            font-size: 12px;
            font-weight: 700;
            line-height: 30px;
        }
        ul li{
            span{
                font-size: 9px;
                font-weight: 400;
                line-height: 11px;
                position: relative;
                padding-right: 16px;
                &::before{
                    position: absolute;
                    content: '';
                    width: 7.5px;
                    height: 7.5px;
                    border-radius: 50%;
                    top: 0;
                    right: 0;
                }
            }
            p{
                margin-bottom: 0;
                padding: 10px 0;
                font-size: 14px;
                font-weight: 700;
                line-height: 11px;
            }
        }
    }
    .menu{
        text-align: end;
        button{
            border: none;
            font-size: 9px;
            font-weight: 400;
            line-height: 11px;
            background-color: transparent;
            color: #787486;
        }
    }
    .images{
        margin: 5px auto;
        .img-container{
            position: relative;
            width: 160px;
            height: 160px;
            >div{
                position: absolute;
                &::after{
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }
            .img1{
                 &::after{
                    content: '';
                    top: 50px;
                    right: 0;
                    background-color: #3DD598;
                 }
                inset: 0;
                width: 160px;
                height: 160px;
            }
            .img2{
                 &::after{
                    content: '';
                    bottom: -2px;
                    left: 60px;
                    background-color: #6956E5;
                 }
                inset: 12.5%;
                width: 120px;
                height: 120px;
            }
            .img3{
                 &::after{
                    content: '';
                    top: 25px;
                    left: -3px;
                    background-color: #FABE7A;
                 }
                inset: 25%;
                width: 80px;
                height: 80px;
            }
            .inner-img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 54px;
                height: 54px;
            }
            .text{
                position: absolute;
                top: 68%;
                left: 34%;
                h4{
                    font-size: 11px;
                    font-weight: 600;
                    color: #000;
                    line-height: 13px;
                }
            }
        }
    }
}
.ltr-user{
    height: 100%;
    .about{
        h2{
            margin-bottom: 0;
            color: #23262F;
            font-size: 12px;
            font-weight: 700;
            line-height: 30px;
        }
        ul li{
            span{
                font-size: 9px;
                font-weight: 400;
                line-height: 11px;
                position: relative;
                padding-left: 16px;
                &::before{
                    position: absolute;
                    content: '';
                    width: 7.5px;
                    height: 7.5px;
                    border-radius: 50%;
                    top: 0;
                    left: 0;
                }
            }
            p{
                margin-bottom: 0;
                padding: 10px 0;
                font-size: 14px;
                font-weight: 700;
                line-height: 11px;
            }
        }
    }
    .menu{
        text-align: end;
        button{
            border: none;
            font-size: 9px;
            font-weight: 400;
            line-height: 11px;
            background-color: transparent;
            color: #787486;
        }
    }
    .images{
        margin: 5px auto;
        .img-container{
            position: relative;
            width: 160px;
            height: 160px;
            >div{
                position: absolute;
                &::after{
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }
            .img1{
                 &::after{
                    content: '';
                    top: 49px;
                    right: 0px;               
                    background-color: #3DD598;
                 }
                inset: 0;
                width: 160px;
                height: 160px;
            }
            .img2{
                 &::after{
                    content: '';                  
                    bottom: -1px;
                    right: 45px;
                    background-color: #6956E5;
                 }
                inset: 12.5%;
                width: 120px;
                height: 120px;
            }
            .img3{
                 &::after{
                    content: '';
                    top: 26px;
                    left: -2px;
                    background-color: #FABE7A;
                 }
                inset: 25%;
                width: 80px;
                height: 80px;
            }
            .inner-img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 54px;
                height: 54px;
            }
            .text{
                position: absolute;
                top: 68%;
                right: 34%;
                h4{
                    font-size: 11px;
                    font-weight: 600;
                    color: #000;
                    line-height: 13px;
                }
            }
        }
    }
}
