$col-1:#3DD598;
$col-2:#6956E5;
$col-3:#FABE7A;

.user .about ul {
    li:nth-child(1){
        span::before{
            background-color: $col-1;
        }
    }
    li:nth-child(2){
        span::before{
            background-color: $col-2;
        }
    }
    li:nth-child(3){
        span::before{
            background-color: $col-3;
        }
    }
}
.ltr-user .about ul {
    li:nth-child(1){
        span::before{
            background-color: $col-1;
        }
    }
    li:nth-child(2){
        span::before{
            background-color: $col-2;
        }
    }
    li:nth-child(3){
        span::before{
            background-color: $col-3;
        }
    }
}

.user{
    .about{
        h2{
            margin-bottom: 0;
            color: #23262F;
            font-size: 12px;
            font-weight: 700;
            line-height: 30px;
        }
        ul li{
            span{
                font-size: 9px;
                font-weight: 400;
                line-height: 11px;
                position: relative;
                padding-right: 16px;
                &::before{
                    position: absolute;
                    content: '';
                    width: 7.5px;
                    height: 7.5px;
                    border-radius: 50%;
                    top: 0;
                    right: 0;
                }
            }
            p{
                margin-bottom: 0;
                padding: 10px 0;
                font-size: 9px;
                font-weight: 400;
                line-height: 11px;
            }
        }
    }
    .menu{
        text-align: end;
        button{
            border: none;
            font-size: 9px;
            font-weight: 400;
            line-height: 11px;
            background-color: transparent;
            color: #787486;
        }
    }
    .graph{
        min-height: 162px;
        .images{
            width: 161px;
            position: relative;
            @for $i from 0 through 3 {
                .inner-img:nth-child(#{$i}) {
                  inset: (10px* $i);
                  right: (9px* $i);
                }
            }
        }
        .inner-img{
            position: absolute
            }
        }
        .e-1,.e-2,.e-3{
            &::before{
                position: absolute;
                content: '';
                width: 9px;
                height: 9px;
                border-radius: 50%;
            }
        }
        .e-1{
            width: 162px;
            height: 162px;
            img{width: 100%;}
            &::before{
                top: 42px;
                right: 4px;            
                background-color: $col-1;
            }
        }
        .e-2{
            width: 123px;
            height: 123px;
            img{width: 100%;}
            &::before{
                top: 114px;
                right: 45px;
                background-color: $col-2;
            }
        }
        .e-3{
            width: 84px;
            height: 84px;
            h5{
                margin-top: -18px;
                text-align: center;
                font-size: 11px;
                color: #000;
                font-weight: 400;
            }
            img{width: 100%;}
            &::before{
                top: 18px;
                right: 73px;
                background-color: $col-3;
            }
        }
    }
.ltr-user{
    .about{
        h2{
            margin-bottom: 0;
            color: #23262F;
            font-size: 12px;
            font-weight: 700;
            line-height: 30px;
        }
        ul li{
            span{
                font-size: 9px;
                font-weight: 400;
                line-height: 11px;
                position: relative;
                padding-left: 16px;
                &::before{
                    position: absolute;
                    content: '';
                    width: 7.5px;
                    height: 7.5px;
                    border-radius: 50%;
                    top: 0;
                    left: 0;
                }
            }
            p{
                margin-bottom: 0;
                padding: 10px 0;
                font-size: 9px;
                font-weight: 400;
                line-height: 11px;
            }
        }
    }
    .menu{
        text-align: end;
        button{
            border: none;
            font-size: 9px;
            font-weight: 400;
            line-height: 11px;
            background-color: transparent;
            color: #787486;
        }
    }
    .graph{
        min-height: 162px;
        .images{
            width: 161px;
            position: relative;
            @for $i from 0 through 3 {
                .inner-img:nth-child(#{$i}) {
                  inset: (10px* $i);
                  left: (9px* $i);
                }
            }
        }
        .inner-img{
            position: absolute
            }
        }
        .e-1,.e-2,.e-3{
            &::before{
                position: absolute;
                content: '';
                width: 9px;
                height: 9px;
                border-radius: 50%;
            }
        }
        .e-1{
            width: 162px;
            height: 162px;
            img{width: 100%;}
            &::before{
                top: 42px;
                left: 4px;            
                background-color: $col-1;
            }
        }
        .e-2{
            width: 123px;
            height: 123px;
            img{width: 100%;}
            &::before{
                top: 114px;
                left: 45px;
                background-color: $col-2;
            }
        }
        .e-3{
            width: 84px;
            height: 84px;
            h5{
                margin-top: -18px;
                text-align: center;
                font-size: 11px;
                color: #000;
                font-weight: 400;
            }
            img{width: 100%;}
            &::before{
                top: 18px;
                left: 73px;
                background-color: $col-3;
            }
        }
    }

    .date-btn{
        position: relative;
        padding: 10px 20px;
        &::after{
            position: absolute;
            content: '';
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #787486;
            right: 0;
            top: 12.5px;
            margin: 0 10px 0 5px;
        }
    }
