<div class="pt-3 container-fluid" [style.direction]="dir">
 <div class="lang w-100 d-flex justify-content-end mb-4">
  <div (click)="switchLanguage(ltr ? 'ar' : 'en')" class="lang-button d-flex justify-content-center align-items-center">
    <span>{{ltr ? 'العربية' : 'English'}}</span>
    <mat-icon class="mx-2">public</mat-icon>
  </div>
 </div>
  <div class="row px-0 px-lg-3">
    <div [ngClass]="{'col-xxl-2': isOpenedSide, 'col-xxl-12': !isOpenedSide}">
      <app-side-nav (isSideOpenedEvt)="onToggleSideNav($event)" [ltr]="ltr"/>
    </div>
    <div [ngClass]="{'col-xxl-10': isOpenedSide, 'col-xxl-12': !isOpenedSide}" class="pt-lg-3 px-lg-0">
      <div class="row">
        <div class="col-xxl-8">
          <div>
            <app-main-content  [ltr]="ltr"/>
          </div>
        </div>
        <div class="col-xxl-4 d-flex justify-content-center">
          <app-date  [ltr]="ltr"/>
        </div>
      </div>
    </div>
  </div>
</div>