.logo{
    display: flex;
    .nav-icon{
        display: none;
    }
    .image{
        width: 145px;
        padding: 0 0 60px;
        margin: 0 auto;
    }
    border-bottom: 1px solid #F4F7FE;

}

.side-navigation,.res-side-navigation{
    .image{
        height: fit-content;
        padding: 20px;
        border-radius:  50% 0 0 50%;
    }
    h5{
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        color: #CFCFCF;
        padding: 20px 20px 0;
        margin-bottom: 0;
    }

    >ul {
        padding: 0;
        >li >a {
            display: flex;
            cursor: pointer;
            .text{
                padding: 20px;
            }
        }   
    }
}
.ltr-res-side-navigation{
    .image{
        height: fit-content;
        padding: 20px;
        border-radius:  0 50% 50% 0;
    }
    h5{
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        color: #CFCFCF;
        padding: 20px 20px 0;
        margin-bottom: 0;
    }

    >ul {
        padding: 0;
        >li >a {
            display: flex;
            cursor: pointer;
            .text{
                padding: 20px;
            }
        }   
    }
}


.link{
    color: #2E2E2E;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
}

.mimi-link{
    @extend .link;
    font-size: 11px;
}

.active {
    background-color: #FEEE00;
}

.dropdown{
    .dropdown-btn{
        padding: 20px;
    }
    .dropdown-content{
        padding: 0;
        li{
            a{
                text-decoration: none;
                display: block;
                padding: 20px;
            }
            transition: .3s ease-in-out;
            border-bottom: 3px solid transparent;
            &:hover{
                border-bottom: 3px solid #2E2E2E;
                background-color: #FEEE00;
            }
        }
    }
}


.responsive-nav{
    a{text-decoration: none;}
    .nav-icon{
        display: none;
        position: absolute;
        background-color: #FEEE00;
        padding-top: 4px;
        top: 50%;
        border-radius: 4px;
        right: 100%;
        transform: translate(0, -50%);
    }
    .image{
        height: fit-content;
        padding: 20px;
        border-radius:50% 0 0 50%;
    }
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 2px solid rgba(7, 113, 222,.6);
    border-right: 0;
    width: 220px;
    z-index: 999;
}
.ltr-responsive-nav{
    a{text-decoration: none;}
    .nav-icon{
        display: none;
        position: absolute;
        background-color: #FEEE00;
        padding-top: 4px;
        top: 50%;
        border-radius: 4px;
        left: 100%;
        transform: translate(0, -50%);
    }
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border: 2px solid rgba(7, 113, 222,.6);
    border-left: 0;
    width: 220px;
    z-index: 999;
}
@media screen and (max-width: 1399px) {
    .side-navigation{
        display: none;
    }
    .ltr-responsive-nav,.responsive-nav{
        .nav-icon{
            display: block;
            cursor: pointer;
        }
    }
    .logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 0 30px 0;
        .image{
            margin: 0;
            padding-bottom: 0;
        }
    }
}

// @media screen and (max-width: 505px) {
//     .responsive-nav ,.ltr-responsive-nav{
//         width: 180px;
//         .image{
//             width: 95px;
//         } 
//     }
// }
// @media screen and (max-width: 355px) {
//     .responsive-nav ,.ltr-responsive-nav{
//         width: 150px;
//         .image{
//             width: 87px;
//         } 
//     }
// }