<div [class]="ltr?'ltr-statistics ':'statistics'" class="d-flex justify-content-between flex-column">
    <div>
        <h2>{{'statistics' |translate}}</h2>
    </div>
    <div class="align-self-center mb-4">
        <div class="images">
            <div class="img-1">
                <img src="../../../assets/images/Medium.png" alt="Medium">
            </div>
            <div class="img-2">
                <img src="../../../assets/images/Inner.png" alt="Inner">
            </div>
            <div class="content">
                <h5>158</h5>
                <p>{{'device'|translate}}</p>
            </div>
        </div>
    </div>
    <div class="choices d-flex justify-content-around">
        <div class="one">
            <h5>108</h5>
            <p>{{'choice.one'|translate}}</p>
        </div>
        <div class="two">
            <h5>108</h5>
            <p>{{'choice.two'|translate}}</p>
        </div>
    </div>
</div>