.choices{
    .one,.two{
        position: relative;
        p{
            margin-bottom: 0;
            color: #B6BACA;
            font-size: 12px;
            font-weight: 400;
        }
        ::before{
            position: absolute;
            content: '';
            width: 3px;
            height: 90%;
            top: 0;
            right: -10px;
            border-radius: 4px;
        }
    }
    .one{
        ::before{
            background-color: #0771DE;
        }
    }
    .two{
        ::before{
            background-color: #FDB841;
        }
    }
}

.ltr-choices{
    .one,.two{
        position: relative;
        p{
            margin-bottom: 0;
            color: #B6BACA;
            font-size: 12px;
            font-weight: 400;
        }
        ::before{
            position: absolute;
            content: '';
            width: 3px;
            height: 90%;
            top: 0;
            left: -10px;
            border-radius: 4px;
        }
    }
    .one{
        ::before{
            background-color: #0771DE;
        }
    }
    .two{
        ::before{
            background-color: #FDB841;
        }
    }
}

h5{
    margin-bottom: 0;
    color: #1C1C28;
    font-size: 16px;
    font-weight: 500;
}

.images{
    .img-one{
        position: relative;
        .img-two{
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .content{ 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .pra{
            margin-bottom: 0;
            color: #6B7181;
            font-size: 11px;
            font-weight: 400;
        }
    }
}

.inner{
    transform: rotate(85deg);    
}

.ltr-inner{
    transform: rotate(-85deg);    
}
