.statistics{
    h2{
        color: #1C1C28;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }
    .images{
        position: relative;
        width: 135px;
        height: 135px;
        .img-1,.img-2{
            position: absolute;
            inset: 0;
            top: 2px;
        }
        .img-2{
            right: 4px;
            top: 4.5px;
        }
        .content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            h5{
                margin-bottom: 0;
                color: #1C1C28;
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
            }
            p{
                margin-bottom: 0;
                color: #6B7181;
                font-size: 11px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }
    .choices{
        .one,.two{
            position: relative;
            h5{
                color: #1C1C28;
                font-size: 15px;
                font-weight: 500;
                line-height: 15px;
            }
            p{
                margin-bottom: 0;
                color: #B6BACA;
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
            }
            ::before{
                position: absolute;
                content: '';
                width: 3px;
                height: 65%;
                top: 0;
                right: -10px;
                border-radius: 4px;
            }
        }
        .one{
            ::before{
                background-color: #0771DE;
            }
        }
        .two{
            ::before{
                background-color: #FDB841;
            }
        }
    }
}
.ltr-statistics{
    h2{
        color: #1C1C28;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }
    .images{
        position: relative;
        width: 135px;
        height: 135px;
        .img-1,.img-2{
            position: absolute;
            inset: 0;
            top: 2px;
        }
        .img-2{
            left: 4px;
            top: 4.5px;
        }
        .content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            h5{
                margin-bottom: 0;
                color: #1C1C28;
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
            }
            p{
                margin-bottom: 0;
                color: #6B7181;
                font-size: 11px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }
    .choices{
        .one,.two{
            position: relative;
            h5{
                color: #1C1C28;
                font-size: 15px;
                font-weight: 500;
                line-height: 15px;
            }
            p{
                margin-bottom: 0;
                color: #B6BACA;
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
            }
            ::before{
                position: absolute;
                content: '';
                width: 3px;
                height: 65%;
                top: 0;
                left: -10px;
                border-radius: 4px;
            }
        }
        .one{
            ::before{
                background-color: #0771DE;
            }
        }
        .two{
            ::before{
                background-color: #FDB841;
            }
        }
    }
}