<div class="users-table">
  <div class="table">
    <div class="row">
        <div class="col-sm-6 mb-sm-0 mb-3 d-flex justify-content-around" [class]="ltr? 'pe-0' :'ps-0'">
          <form class="p-0 w-75">
            <input type="search" #input (keyup)="applyFilter($event)" class="form-control" [placeholder]="'search.plh'|translate" >
          </form>
          <div class="filter d-flex justify-content-around" [class]="ltr? 'justify-content-sm-end' :'justify-content-sm-start'">
            <div (click)="filter(1)"
              matTooltip='{{"filter"|translate}} id'
              matTooltipPosition="above"
            >
              <mat-icon> filter_list</mat-icon>
            </div>
            <div (click)="filter(2)"
              matTooltip='{{"filter"|translate}} {{"fullName" | translate}}'
              matTooltipPosition="above"
            >
              <mat-icon> import_export</mat-icon>
            </div>
          </div>
        </div>
        <div class="col-sm-6 d-flex align-items-center justify-content-sm-end justify-content-center ">
            <button data-toggle="modal" data-target="#addRow" class="add-btn">{{'add.new'|translate}}</button>
        </div>
    </div>
  </div>
  <div class="mat-elevation-z8 example-container my-3">  
    

    
    <table mat-table [dataSource]="dataSource" matSort cdkDropListGroup>
        <!-- id Column -->
        <ng-container cdkDrag matColumnDef="id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'id' | translate}}</th>
          <td mat-cell *matCellDef="let element" class="id"> {{element.id}} </td>
        </ng-container> 

        <!-- settings -->
        <ng-container cdkDrag matColumnDef="setting">
          <th mat-header-cell *matHeaderCellDef>
            <div class="showCol">
              <div [class]="ltr?'ltr-setting-image':'setting-image'" [matMenuTriggerFor]="menuCheckbox">
                <img src="assets/images/settings.png" alt="settings" class="img-fluid">
              </div>
              <mat-menu #menuCheckbox="matMenu" >
                <div *ngFor="let head of heads;let i=index" class="check-div">
                  <mat-checkbox
                    [checked] ='displayedColumns.includes(head)' 
                    (change)="colonShowAndHide(head)"
                    class="d-block px-2"
                  >
                  {{head | translate}}
                </mat-checkbox>  
                </div>
              </mat-menu>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="d-none"></td>
        </ng-container>  
  
        <!-- fullName Column -->
        <ng-container cdkDrag matColumnDef="fullName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> {{"fullName" | translate}} </th>
          <td 
            mat-cell 
            *matCellDef="let element" 
            class="fullName"
            [matTooltip]='element.fullName'
            matTooltipPosition="above"
            matTooltipClass="example-tooltip"
          > {{element.fullName |cutNum}} </td>
        </ng-container>  
          
        <!-- email Column -->
        <ng-container cdkDrag matColumnDef="email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> {{'email' | translate}} </th>
          <td mat-cell *matCellDef="let element" class="email"> {{element.email}} </td>
        </ng-container>  
  
        <!-- daysOfWork Column -->
        <ng-container cdkDrag matColumnDef="daysOfWork">
          <th mat-header-cell *matHeaderCellDef>{{"daysOfWork" | translate}}</th>
          <td mat-cell *matCellDef="let element">
            <div class="days">
              <span 
                [class]="element.daysOfWork.includes(0)?'active-day':'not-active-day'">
                {{'Sat' | translate}}
              </span>  
              <span 
                [class]="element.daysOfWork.includes(1)?'active-day':'not-active-day'">
                {{'Sun' | translate}}
              </span>  
              <span 
                [class]="element.daysOfWork.includes(2)?'active-day':'not-active-day'">
                {{'Mon' | translate}}
              </span>  
              <span 
                [class]="element.daysOfWork.includes(3)?'active-day':'not-active-day'">
                {{'Tue' | translate}}
              </span>  
              <span 
                [class]="element.daysOfWork.includes(4)?'active-day':'not-active-day'">
                {{'Wed' | translate}}
              </span>  
              <span 
                [class]="element.daysOfWork.includes(5)?'active-day':'not-active-day'">
                {{'Thu' | translate}}
              </span>  
              <span 
                [class]="element.daysOfWork.includes(6)?'active-day':'not-active-day'">
                {{'Fri' | translate}}
              </span>  
            </div>  
          </td>  
        </ng-container>  

        <!-- files Column -->
        <ng-container cdkDrag matColumnDef="files">
          <th mat-header-cell *matHeaderCellDef> {{'files' | translate}} </th>
          <td mat-cell *matCellDef="let element" colspan="2">
            <div class="d-flex justify-content-between py-2">
              <div class="files" *ngFor="let file of element.files">
                <div class="d-flex">
                  <div class="image ms-2">
                    <img [src]="file.img? file.img: 'assets/images/fileImgPl.png'" class="img-fluid" alt="file image">
                  </div>  
                  <p class="name">{{file.fileName}}</p>
                </div>  
                <p class="text-end mb-0 size">{{file.size}}</p>
              </div>     
              <div class="me-3">
                <mat-icon mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">more_vert</mat-icon>
                <mat-menu #menu1="matMenu">
                  <button mat-menu-item>
                    <span>Download</span>
                    <mat-icon>download</mat-icon>
                  </button>  
                  <button mat-menu-item>
                    <span>Check voice mail</span>
                  </button>  
                  <button mat-menu-item>
                    <span>Disable alerts</span>
                  </button>  
                </mat-menu>
              </div>
            </div>  
          </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" cdkDropList  (cdkDropListDropped)="drop($event)"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDropList  (cdkDropListDropped)="drop($event)"></tr>
        </table>
        <div class="pagination">
          <mat-paginator 
            [pageSizeOptions]="[5, 10 ,30]"
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
  </div>

</div>