table {
  width: 640px;
}

.showCol{
  .check-div div{
    border-bottom: 2px solid #E1E6EE;
    padding: 10px;
    width: 160px !important;
  }
}

.table{
  form{
    border-radius: 8px !important;
    overflow: hidden;
    input{
      padding-right: 30px;
      font-size: 16px;
      color: #292D32;
      font-weight: 400;
      &::placeholder{
        color: #92A1AD66;
        font-size: 12px;
      }
    }
    .form-control{
      &:focus{
        box-shadow: none;
        border-color: #FEEE00;
      }
    }
    mat-icon{
      top: -27px;
      left: -30px;
      color: rgba(41, 45, 50,.5);
      font-size: 23px;
    }
  }
}

.ltr-table{
  form{
    border-radius: 8px !important;
    overflow: hidden;
    input{
      padding-right: 30px;
      font-size: 16px;
      color: #292D32;
      font-weight: 400;
      &::placeholder{
        color: #92A1AD66;
        font-size: 12px;
      }
    }
    .form-control{
      &:focus{
        box-shadow: none;
        border-color: #FEEE00;
      }
    }
    mat-icon{
      top: -27px;
      right: -30px;
      color: rgba(41, 45, 50,.5);;
      font-size: 23px;
    }
  }
}

.users-table{

  td,th{
    text-align: center;
  }

  th{
    color: #5A5A67;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 6px 0;
    border: none;
    cursor: grab;
  }
  
  .add-btn{
    border: 2px solid #FEEE00;
    color: #1C1C28;
    background-color: #FEEE00;
    border-radius: 6px;
    padding: 5px 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    transition: .3s ease-in-out;
    &:hover{
        background-color: #fff;
    }
  }


  .files {
    .image{
      width: 28px;
      height: 28px;
    }
    .size{
      color: #00000066;
      font-size: 8px;
      font-weight: 400;
      line-height: 13px;
    }
    .name{
      font-size: 10px;
      font-weight: 500;
      line-height: 15px;
      color: #000;
    }
    &+ p{
      cursor: pointer;
    }
  }  

  .setting-image{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: auto;
  }

  .id{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #99A1B7;
  }

  .fullName,.email{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #1C1C28;
  }

  .days{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    span{
      display: flex;
      width: 22px;
      height: 22px;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      flex-direction: column;
      margin: 0 2px;
      padding: 3px;
      font-size: 10px;
      font-weight: 400;
    }
  }
}

.filter{
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  width: 45%;
  color: #92A1AD66;
  div{
    margin: 2px;
    border-radius: 4px;
    padding: 5px 6px 0;
    background: #FFF;
    height: 34px;
    cursor: pointer;
  }
}

.active-day{
  color: #fff;
  background-color: #2385EA;
}

.not-active-day{
  color: #BBBEC2;
  background-color: #F7F7FA;
}

.mat-mdc-header-row {
  background-color: #f8f8f8;
  border-radius: 2px;
}

.mat-mdc-table{
  margin: 7px 5px;
}

.mat-elevation-z8{
  box-shadow:none;  
  background-color: #fff;
}

.example-container{
  position: relative ;
  max-width: 100%;
}

@media(max-width: 767px) {
  .example-container {
    overflow: auto;
  }
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 8px;
}

.mat-mdc-table .mdc-data-table__header-row {
  height: 28px;
}

.mat-mdc-checkbox.mat-accent {
  border-bottom: 0.6px solid #E1E6EE
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  border-color: #2385EA !important;
  background-color: #2385EA !important;
}

.pagination{
  direction: ltr;
}


.paginator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.page-numbers {
  display: flex;
  align-items: center;
}

.page-numbers span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: #7E8299;
}

.page-numbers span.active {
  background-color: #0771DE;
  color: #fff;
}

.rotate-180 {
  transform: rotate(180deg);
}

svg {
  cursor: pointer;
}

:host ::ng-deep {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-form-field-infix {
    min-height: unset;
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding: 4px 0;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
  }

  .mat-form-field-underline {
    display: none !important;
  }

  .paginator-size {
    width: 64px;
    font-size: 10px;
  }

  .mat-mdc-select-value-text {
    font-size: 14px;
    font-weight: 500;
  }

}

.paginator-size-container span {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}