<div class="users-table">
    <div class="table">
      <div class="row">
          <div class="col-sm-6 mb-sm-0 mb-3 d-flex justify-content-around" [class]="ltr? 'pe-0' :'ps-0'">
            <form class="p-0 w-75">
              <input type="search" #input  class="form-control" [placeholder]="'search.plh'|translate" >
            </form>
            <div class="filter d-flex justify-content-around" [class]="ltr? 'justify-content-sm-end' :'justify-content-sm-start'">
              <div 
                matTooltip='{{"filter"|translate}} id'
                matTooltipPosition="above"
              >
                <mat-icon> filter_list</mat-icon>
              </div>
              <div 
                matTooltip='{{"filter"|translate}} {{"fullName" | translate}}'
                matTooltipPosition="above"
              >
                <mat-icon> import_export</mat-icon>
              </div>
            </div>
          </div>
          <div class="col-sm-6 d-flex align-items-center justify-content-sm-end justify-content-center ">
              <button data-toggle="modal" data-target="#addRow" class="add-btn">{{'add.new'|translate}}</button>
          </div>
          <div class="col-12 table-data">
            <table>
                <thead cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <th *ngFor="let head of heads;let i = index" cdkDrag [class]="i==1?'bg-danger':''">{{head}}</th>
                </thead>
            </table>
          </div>
      </div>
    </div> 
</div>